<!--
  Generated template for the MenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >

  <ion-navbar color="PalomApp">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Menu</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
<ion-card *ngFor="let plato of list" >
    <img src="{{ plato.img_plato }}"/>
    <ion-card-content  >
        <ion-card-title>
          {{ plato.nom_plato }}
        </ion-card-title>
      <p>{{'2018-01-02' | date: 'fullDate' | uppercase}}</p>
      <p>{{ plato.descripcion }}</p>
      <p>{{plato.id_local }}</p>
      <p><b>Precio: S/. 8.00</b></p>
      <button>LOCAL CENTRAL</button>
    </ion-card-content>
  </ion-card>

  <script>
      var fechas=angular.module('fechas', []);
    </script>
 </ion-content> 
  <!--
<ion-content padding>
  <div class="plato">
    <img src="./assets/imgPlato/plato.jpg">
    <h1>MENU LUNES</h1>
  </div>
  <ion-list>
      <ion-item *ngFor="let plato of list" >
      <ion-thumbnail>
      <img src="{{ plato.img_plato }}">
      </ion-thumbnail>
      <h2>{{ plato.nom_plato }}</h2>
      <p>{{ plato.descripcion }}</p>
    </ion-item>

  </ion-list>
</ion-content>
<script>
    var fechas=angular.module('fechas', []);
  </script>

  JALANDO DATOS DEL ARCHIVO PLATO.JSON

<script type="text/javascript">
var misDatos = angular.module('datosApp',[]);
misDatos.controller('controladorDatos', function($scope,$http){
  $scope.importar=function(){
    $http.get('../../assets/data/plato.js').success(function(datos){
      $scope.plato =datos;
    })
  }
  $scope.importar();
  console.log(datos);
});
</script>

-->